@import url(https://fontlibrary.org//face/dogica);

@font-face {
    font-family: 'DogicaPixelRegular';
    src: url(http://openfontlibrary.org/face/8bit-wonder);
}

.bgRegister{
    background-color: black;
}

.campo{
    background-color: whitesmoke;
    border-radius: 5px!important;
}

.register{
    color: #095f04!important;
    font-family: 'DogicaPixelRegular'!important;
    font-weight: 800!important;
}

.text-decorator-none{
    text-decoration: none;
}

.regBtn{
    font-family: 'DogicaPixelRegular'!important;
    font-size: 12px!important;
}

.register-bg{
    background-image: url(../../assets/img/cat-code.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh; 
    background-size: cover;
    background-position: center;
}

.cancel-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    margin-right: 20px!important;
}

.cancel-button:hover,
.cancel-button:focus{
    color: white!important;
    background: grey!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.register-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    
}

.register-button:hover,
.register-button:focus{
    color: white!important;
    background: #095f04!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.notchedOutline {
    border-width: 1px;
    border-color: yellow!important;
}