@import url(https://fontlibrary.org//face/dogica);

@font-face {
    font-family: 'DogicaPixelRegular';
    src: url(http://openfontlibrary.org/face/8bit-wonder);
}

.fontDel{
    font-family: 'DogicaPixelRegular'!important;
    font-size: 15px!important;
    font-weight: 600!important;
}

.postTxt{
    font-family: 'DogicaPixelRegular'!important;
    font-size: 15px!important;
    font-weight: 700!important;
    color: #095f04!important;
}

.fontBtn{
    font-family: 'DogicaPixelRegular'!important;
    font-size: 12px!important;
}

.nao-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    margin-right: 20px!important;
}

.nao-button:hover,
.nao-button:focus{
    color: white!important;
    background: grey!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.sim-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    
}

.sim-button:hover,
.sim-button:focus{
    color: white!important;
    background: #095f04!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}