.homeBg{
    background-color: black!important;
    background-image: url('../../assets/img/matrix.gif');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh);
}

.title{
    color: white!important;
    font-weight: bold!important;
}

.button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    
}

.button:hover,
.button:focus{
    color: white!important;
    background: #095f04!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.postagens{
    background-color: black;
}