.footerBg{
    background-color: black;
}

.m{
    margin: 0 10px;
}

.text-decorator-none{
    text-decoration: none;
}

.box{
    height: 130px;
}

.box1{
    height: 61px;
}

.redes{
    color: white;
}

