.bg{
    background: linear-gradient(to right, #0f9b0f 0%, #000000 20%);
}

.bar{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.m{
    margin: 3px;
}

.text-decorator-none{
    text-decoration: none;    
}


