@import url(https://fontlibrary.org//face/dogica);

@font-face {
    font-family: 'DogicaPixelRegular';
    src: url(http://openfontlibrary.org/face/8bit-wonder);
}

.fontModal{
    font-family: 'DogicaPixelRegular'!important;
    font-size: 12px!important;
}

.cursor{
    cursor: pointer;
}

.modal-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    margin-right: 20px!important;
}

.modal-button:hover,
.modal-button:focus{
    color: white!important;
    background: #095f04!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}