@import url(https://fontlibrary.org//face/dogica);

@font-face {
    font-family: 'DogicaPixelRegular';
    src: url(http://openfontlibrary.org/face/8bit-wonder);
}

.themeTitle{
    font-family: 'DogicaPixelRegular'!important;
    font-size: 12px!important;
    margin-bottom: 20px!important;
}

.themeText{
    font-family: 'DogicaPixelRegular'!important;
    font-size: 20px!important;
    font-weight: 500!important;
}

.btnTheme{
    font-family: 'DogicaPixelRegular'!important;
    font-size: 12px!important;
}

.text-decorator-none{
    text-decoration: none;
}

.delete-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    margin-right: 20px!important;
}

.delete-button:hover,
.delete-button:focus{
    color: white!important;
    background: grey!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.update-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    
}

.update-button:hover,
.update-button:focus{
    color: white!important;
    background: #095f04!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}