.text-decorator-none{
    text-decoration: none;
}

.delete-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    margin-right: 20px!important;
}

.delete-button:hover,
.delete-button:focus{
    color: white!important;
    background: grey!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}

.update-button{
    color: black!important;
    background: white!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    
}

.update-button:hover,
.update-button:focus{
    color: white!important;
    background: #095f04!important;
    font-weight: bold!important;
    border-radius: 10px!important;
}