.title{
    font-weight: bold;
 }

.bgtab{
    background: radial-gradient(circle, #000000, #000000, #095f04);
}

 .aboutme{
     color: white;

 }

 .aboutimg{
     width: 240px;
     height: auto;
     padding: 40px;
 }



